body {
  color: rgb(255, 255, 255);
  font-family: "Gemunu Libre", sans-serif;
  text-align: left;
  overflow: hidden;
  display: flex;
}

/**********************PAGE SPECIFIC STUFF*********************************************/
.spirited-away-body {
  background-image: url("https://cdn.glitch.global/89be2ea4-79b8-4a1d-a240-17699999f723/spirited%20away%20gif.gif?v=1641444404753");
}

.totoro-body {
  background-image: url("https://cdn.glitch.global/89be2ea4-79b8-4a1d-a240-17699999f723/totoro%20album.jpg?v=1641616722391");
  background-size: cover;
}

.ponyo-body {
  background-image: url("https://media.npr.org/assets/artslife/movies/2009/08/ponyo/ponyobeach_wide-5e1abc1d910767d27cddcc5e7a1554a3040ed6c2.jpg");
  background-size: cover;
}

.howls-body{
  background-image: url(https://cdn.glitch.global/89be2ea4-79b8-4a1d-a240-17699999f723/howl%20sewing%20gif.gif?v=1641958587892);
  background-size: cover;
}

/**********************BUTTONS*********************************************/
.topRight {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 10vh;
} 

.buttons {
  display: flex;
  height: 50%;
  width: 10%;
  justify-content: space-around;
  float: right;
}

.buttons1
{
  border-radius: 12px;
	background: #761111;
  cursor: pointer;
  width: 13%;
  height: 100%;
  border: none;
}

.buttons2
{
  border-radius: 12px;
	background: #761111;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
}

.buttons3
{
  border-radius: 12px;
	background: #761111;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
}

.button-icon {
	color:rgb(255,255,255);
}

/*******************************TIMER****************************************************/

.timerMusic {
  border: 4px solid white;
  margin: 0;
  position: absolute;

  width: 45vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  

.timer-container {
  width: 65%;
  height: 130px;
  background-color: #ffffff;
  box-shadow: 0 20px 20px 0 rgb(90, 21, 21);
  border-radius: 15px;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  font-family: "Gemunu Libre", sans-serif;
  color: #752c2a;
}

.Timer {
  padding-left: 25%;
}

.Timer h2 {
  padding-bottom: 2%;
  padding-left: 25%;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bold;
  font-family: "Gemunu Libre", sans-serif;
}

.label {
  margin: 0;
  justify-self: left;
  align-self: left;
  color: black;
  font-size: 20px;
}

#hour-label {
  grid-area: 1 / 2 / 1 / 4;
}

#min-label {
  grid-area: 1 / 4 / 1 / 5;
}

#sec-label {
  grid-area: 1 / 6 / 1 / 7;
}

.time {
  justify-self: center;
  align-self: center;

  border: none;
  border-radius: 12px;
  background-color: rgb(220, 220, 220);
  font-size: 30px;
  width: 70px;
  height: 50px;
}

#hour {
  grid-area: 2 / 1 / 2 / 3;
}

.semicolon {
  justify-self: center;
  align-self: center;

  font-size: 50px;
  margin: 0;
}

#p1 {
  grid-area: 2 / 1 / 2 / 5;
}

#minute {
  grid-area: 2 / 3 / 2 / 5;
}

#p2 {
  grid-area: 2 / 4 / 2 / 7;
}

#sec {
  grid-area: 2 / 5 / 2 / 8;
}

/************************************timer buttons**************************************/
.timer-buttons button{
  font-family: "Gemunu Libre", sans-serif;
  font-size: 20px;
  color: white;
  border-radius: 12px;
  background-color: #752c2a;
  width: 80px;
  height: 30px;
  border: none;


} 
.timer-buttons{
  border: 2px solid black;

  display: flex;
  position: relative;
    
}

/* #start {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 20px;
  color: white;
  border-radius: 12px;
  background-color: #752c2a;
  border: none;
  align-self: left;
  grid-area: 5 / 2 / 3 / 2;
  width: 80px;
  height: 30px;
}

#reset {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 20px;
  color: white;
  border-radius: 12px;
  background-color: #752c2a;
  border: none;
  align-self: right;
  width: 80px;
  height: 30px;
  grid-area: 5 / 6 / 3 / 8;
}

#stop
{
  font-family: "Gemunu Libre", sans-serif;
  font-size: 20px;
  color: white;
  border-radius: 12px;
  background-color: #752c2a;
  border: none;
  align-self: right;
  width: 80px;
  height: 30px;
  grid-area: 5 / 4 / 3 / 5;
} 

 */
/*********************************music*********************************/
.Music {
  padding-left: 25%;
  width: 100%;
  height: 20%;
}

.Music h2 {
  padding-bottom: 3%;
  padding-left: 25%;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: "Gemunu Libre", sans-serif;
}

.music-container {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgb(90, 21, 21);
  display: flex;
  padding: 20px 30px;
  width: 65%;
  position: relative;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: "";
  background-color: white;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  right: 10%;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: white;
  border: 0;
  color: #898789;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #898789;
  font-size: 35px;
}

.action-button:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: relative;
  top: 0;
  left: 60%;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 5px;
  width: 100%;
}

.progress {
  background-color: #612117;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

/********************************************TODO LIST********************************************/
 :root {
  --clr-primary: rgb(121,30,23);
  --clr-light: #f4f4f4;
  --clr-dark: #333333;
  --clr-warning: rgb(99, 36, 36);
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

/*.testBody {
  height: 100%;
  width: 50%;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: var(--clr-light);
  display: grid;
  grid: "header header header header" auto "...... lists  active ......" auto/1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}*/

.kzSec {
  margin: 0;
  position: absolute;
  top: 48%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  display: flex;
  position: absolute;
  right: 0px;
  justify-content: space-between;
  height: 50%;
  width: 55%;
  align-items:center;
  padding: 0 5%;
}

.title {
  grid-area: header;
  text-align: center;
  font-size: calc(7vw + 2rem);
  font-weight: 900;
  color: rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  margin: -0.3em 0 0.5em;
}

.all-tasks {
  grid-area: lists;
}

.task-list {
  font-size: 1.2rem;
  line-height: 1.7;
  list-style: circle;
  padding-left: 1.1em;
}

.list-name {
  cursor: pointer;
}

.list-name:hover {
  opacity: 0.7;
}

form {
  display: flex;
}

.btn {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
}

.btn.create {
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 0.25em;
  transition: opacity 250ms ease-in;
}

.btn.create:hover {
  opacity: 0.7;
}

.btn.delete {
  opacity: 0.7;
  font-size: 1rem;
  transition: color 200ms;
}

.btn.delete:hover {
  color: var(--clr-warning);
}

.new {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  outline: none;
  padding: 0.25em;
  transition: border-bottom 150ms ease-in;
  order: 2;
}

.new::-webkit-input-placeholder {
  opacity: 0.4;
}

.new::-ms-input-placeholder {
  opacity: 0.4;
}

.new:-ms-input-placeholder {
  opacity: 0.4;
}

.new::placeholder {
  opacity: 0.4;
}

.new:focus {
  border-bottom-width: 3px;
}

.new:focus::-webkit-input-placeholder {
  opacity: 0.15;
}

.new:focus::-ms-input-placeholder {
  opacity: 0.15;
}

.new:focus:-ms-input-placeholder {
  opacity: 0.15;
}

.new:focus::placeholder {
  opacity: 0.15;
}

.new.list {
  font-size: 1.1rem;
}

.new.task {
  margin-bottom: 0;
}

.active-list {
  font-weight: 700;
}

.todo-list {
  --spacer: 2rem;
  grid-area: active;
  background: var(--clr-light);
  color: var(--clr-dark);
}

.todo-header {
  padding: var(--spacer);
  background: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-title {
  margin: 0 1em 0 0;
}

.task-count {
  margin: 0;
  font-size: 1rem;
}

.todo-body {
  padding: var(--spacer);
  position: relative;
}

.new-task-creator .create {
  color: var(--clr-primary);
}

[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.task label {
  display: flex-inline;
  align-items: center;
  position: relative;
}

.task {
  position: relative;
  margin-bottom: 1.25em;
}

.task::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -0.5em;
  height: 1px;
  background: currentColor;
  opacity: 0.1;
}

.custom-checkbox {
  --size: 0.75em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--clr-primary);
}

[type="checkbox"]:checked + label .custom-checkbox {
  background: var(--clr-primary);
  border-color: var(--clr-primary);
  box-shadow: inset 0 0 0px 2px white;
}

[type="checkbox"]:checked + label {
  opacity: 0.5;
}

.task label::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  left: 1.5em;
  top: 50%;
  height: 3px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

[type="checkbox"]:checked + label::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.delete-stuff {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -35px;
  color: var(--clr-light);
}

