/* a minimalist set of CSS resets */
/*Helen importing fonts*/
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Unica+One&display=swap");
/*.*/

/* default to border-box */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

/* *, *:before, *:after {
  box-sizing: inherit;
} */

/* adjust typography defaults */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
/*Madison*/

/*Helen*/

.audio
{
  margin-top: 50px;
}

.intropage {
  background: url(https://cdn.glitch.global/89be2ea4-79b8-4a1d-a240-17699999f723/introphoto?v=1641444178885)
  no-repeat center center fixed;
  display: flex;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.button-cover1{
	border-radius: 12px;
	background: #E1C7E6;
	text-shadow: 1px -2px 3px #000000;
	box-shadow: inset 1px 1px 2px 0px #bbdaf7;
	cursor: pointer;
	display: flex;
	align-items: right;
  margin-left: 1480px;
  border: none;
}

.button-cover2{
	border-radius: 12px;
	background: #E1C7E6;
	text-shadow: 1px -2px 3px #000000;
	box-shadow: inset 1px 1px 2px 0px #bbdaf7;
	cursor: pointer;
	display: flex;
	align-items: right;
  margin-left: 1440px;
  margin-top: -140px;
  border: none;
}

.button-icon {
	padding: 9px 10px;
	border-right: 1px solid rgba(255, 255, 255, 0.16);
	color:rgb(129,12,148);
}
.button-icon svg {
	vertical-align: middle;
	position: relative;
	font-size: 31px;
	top: -1px;
}

.welcome {
  text-align: center;
  margin: 10px;
  color: rgb(243, 171, 255);
  font-family: "Gemunu Libre", sans-serif;
  font-size: 50px;
  margin-left:-8px;
}

.studyghibli {
  display: flex;
  justify-content: center;
  color: rgb(224, 50, 253);
  font-family: "Unica One", cursive;
  font-size: 50px;
}

#study{
  font-size: 60px;
}
#ghibli{
  font-size: 60px;
  
}

#homeghibliicon {
  width: 50px;
  height: 60px;
  border-radius: 30%;
  margin: 15px 15px 20px 20px;
  margin-top: 5px;
}

.startbutton a{
  display: in-line;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 30px;
  color:rgb(160,20,184);
  text-align:center;
  text-decoration: none;
  border-radius:12px;
  border: none;
}

.startbutton button{
  background-color: #E1C7E6; 
  border: none;
  padding: .5em 1.25em;
  border-radius: 12px;
  margin-left:-12px;
  margin-top:10px;
}

.startbutton button:hover {
  box-shadow: 0px 0px 25px  rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 25px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 0px 25px  rgba(0,0,0,0.6);
  -o-box-shadow: 0px 0px 25px  rgba(0,0,0,0.6);
  border-radius:12px;
}

.introtext {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Kelly*/


#dirHead {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 4em;
  text-align: center;
  color: #e368b2;
  letter-spacing: 3px;
  padding-bottom: 5%;
}

.bord {
  display:flex;
  border: 2vh purple solid;
  overflow: hidden;
  background-size:cover;
  height: 100%;
  width: 100%;
  margin: none;
}

.images {
  width: 90%;
  display: flex;
  justify-content: space-between;
  border-radius:8px;
}

.dirImg {
  width: 35vh;
  height: 60vh;
}