/* a minimalist set of CSS resets */
/*Helen importing fonts*/
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
/*.*/

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

/* *, *:before, *:after {
  box-sizing: inherit;
} */

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: serif, cursive;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
/*Madison*/
.study1{
  min-height: 100%;
  width: 100%;
  background: url(https://cdn.glitch.global/89be2ea4-79b8-4a1d-a240-17699999f723/spirited%20away%20gif.gif?v=1641444404753);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
  display:flex;
  align-items:center;
  padding:20px 0;
}

.logo{
  width:160px;
}

.study1 h1{
  font-size: 45px;
  margin-top: 5%;
  color: rgb(255,255,255);
  font-family: 'Gemunu Libre', sans-serif;
}

/*Helen*/
.intropage{
  background: url(https://cdn.glitch.global/89be2ea4-79b8-4a1d-a240-17699999f723/introphoto?v=1641444178885) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
} 


.welcome{
  text-align: center;
  margin: 10px;  
  color: rgb(243,171,255);
  font-family: 'Gemunu Libre', sans-serif;
}

.studyghibli{
  display: flex;
  justify-content: center;
  color:rgb(224,50,253);
  font-family: 'Gemunu Libre', sans-serif;
}

#homeghibliicon{
  border-radius: 40%;
  width: 50px;
}

.startbutton{
  text-decoration: none;
  text-align: center;
  margin: 10px;
}

.startbutton a{
  text-decoration: none;
  color: rgb(243,171,255);
  font-family: 'Gemunu Libre', sans-serif;
}

.introtext{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/*Kelly*/
#dirHead {
  font-family: 'Gemunu Libre', sans-serif;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  font-size: 4em;
  text-align: center;
  color: #e368b2;
}

.bord {
  border: 10px purple solid;
}

.images {
  display: flex;
  margin-left: 1%;
  margin-right: 1%;
  justify-content: space-between;
}

.dirImg {
  width: 40vh;
  height: 70vh;
}


/*Madison*/