/* a minimalist set of CSS resets */
/*Helen importing fonts*/
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
/*.*/

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

/* *, *:before, *:after {
  box-sizing: inherit;
} */

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: serif, cursive;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
/*Madison*/
.study1{
  min-height: 100vh;
  width: 100%;
  background-image: url(https://cdn.glitch.global/89be2ea4-79b8-4a1d-a240-17699999f723/spirited%20away%20gif.gif?v=1641444404753);
  background-position:center;
  background-repeat: no-repeat;
  background-size: 100%
}
nav{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.logo{
  width:160px;
}
/*Helen*/
#introbackground{
  width: 100%;
  height: 100%;
}

.welcome{
  text-align: center;
  margin: 10px;  
  color: rgb(243,171,255);
  font-family: 'Gemunu Libre', sans-serif;
}

.studyghibli{
  display: flex;
  justify-content: center;
  color:rgb(224,50,253);
  font-family: 'Gemunu Libre', sans-serif;
}

#homeghibliicon{
  border-radius: 40%;
  width: 50px;
}





/*Kelly*/
.bord {
  border: 5px purple solid;
}

.images {
  display: flex;
}


/*Madison*/